.change-password-container {
  height: calc(100vh - var(--nav-height) - var(--padding));
  width: 100%; 
  padding: 0 var(--padding);
}

.change-password-container > .change-password-form{
  height: 100%;
  width: 100%;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  border: 1px solid #ededed;
  transition: transform 1.2s ease-in-out;
}

.change-password-container > .change-password-form > div{
  width: 45rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.change-password-container > .change-password-form > div > i{
  margin-top: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.change-password-container > .change-password-form > div > h2{
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

.change-password-container > .change-password-form > div > input{
  width: 100%;
  padding: 1rem;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 5px;
  border-bottom: 1px solid #ededed;
}

.change-password-container > .change-password-form div > input:focus::placeholder{
  opacity: 0;
  transition: all 0.2s;
}

.change-password-container > .change-password-form > div > button{
  padding: 1rem 4rem;
  display: block;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.4rem;
  background: -webkit-linear-gradient(left, #b224ef, #7579ff);
  color: white;
  box-shadow:  0 0 10px rgba(1, 1, 1, 0.5);
}

.change-password-container > .change-password-form button:hover{
  background: -webkit-linear-gradient(left, #7579ff, #b224ef);
}

.change-password-container > .change-password-form div.forgot-password a{
  color: blue;
  font-size: 1.4rem;
  transition: all 0.2s ease-in-out;
}

.change-password-container > .change-password-form .profile-link p{
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.change-password-container > .change-password-form .profile-link a{
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  color:  black;
  cursor: pointer;
  border: 1px solid #24252a;
  border-radius: 50px;
  transition: all 0.1s ease-in-out;
}

/****************************************************Media Query****************************************/

/*Laptop Screen*/
@media (max-width: 1024px){

}

/*Tablet Screen*/
@media (max-width: 992px){
  .change-password-container{
    height: auto;
  }
}

/*Mobile Screen*/
@media (max-width: 480px){
  .change-password-container > .change-password-form > div{
    width: 35rem;
  }
}
