.products-container{
	height: 100%;
	width: 100%;
	padding: 0 1rem 1rem 1rem;
	overflow: auto;
	display: flex;
	flex-direction: column;
	border: 1px solid var(--dark-light);
}

/*************************Products Heading*************************/
.products-container > .products-heading{
	height: 8rem;
	min-height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-container > .products-heading > h2{
	font-size: 1.8rem;
	font-size: bolder;
}

.products-container > .products-heading > div{
	padding: 1rem 1.5rem;
	border: 1px solid #b2beb5;
	border-radius: 5px;
	font-size: 1.25rem;
	cursor: pointer;
}

.products-container > .products-heading > div:hover{
	background: rgba(1, 1, 1, 0.25);
	transition: all 0.1s ease-in;
}

.products-container > .products-heading > div > i{
	margin-right: 1rem;
}

/*************************Products*************************/
.products-container > .products{
	height: 100%;
	width: 100%;
}

.products-container > .products > ul{
	height: 100%;
	width: 100%;
	border: 1px solid var(--dark-light);	
}

.products-container > .products > ul > li{
	width: 100%;
	padding: 0.5rem;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	border-bottom: 1px solid var(--dark-light);
}


.products-container > .products > ul > li > div{
	width: 25%;
	display: flex;
	align-items: center;
	font-size: 1.35rem;
}

.products-container > .products > ul > li > div > span{
	margin-right: 0.5rem;
	font-weight: bolder;
}

.products-container > .products > ul > li > div:first-child{
	display: flex;
	align-items: center;
}

.products-container > .products > ul > li > div:first-child > img{
	height: 8rem;
	width: 12rem;
	min-width: 12rem;
	margin-right: 1rem;
	object-fit: cover;
}

.products-container > .products > ul > li > div:last-child{
	width: auto;
}

.products-container > .products > ul > li > .actions > div{
	display: flex;
}

.products-container > .products > ul > li > .actions > div > i{
	height: 3rem;
	width: 3rem;
	font-size: 1.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--dark-light);
	border-radius: 5px;
	cursor: pointer;
}

.products-container > .products > ul > li > .actions > div > i:hover{
	background-color: #24252a;
	color: white;
	transition: all 0.2s ease-in;
}

.products-container > .products > ul > li > .actions > div > i:not(:last-child){
	margin: 0 0.5rem;
}


/************************Media Query************************/

/*Laptop*/
@media (max-width: 1024px){

}

/*Tablet*/
@media (max-width: 992px){
	.products-container > .products > ul > li > div:nth-child(2),
	.products-container > .products > ul > li > div:nth-child(3){		
		width: 15%;
	}

}

/*Mobile*/
@media (max-width: 480px){
	.products-container > .products > ul > li{
		flex-wrap: wrap;
	}

	.products-container > .products > ul > li > div:first-child{
		width: 100%;
		margin-bottom: 2rem;
		border: 1px solid #ededed;
	}

	.products-container > .products > ul > li > div:nth-child(2),
	.products-container > .products > ul > li > div:nth-child(3){
		width: 40%;
	}
}